{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
    <table class="table" style="border: 1px light gray;">
        {% for listing in listings %}    
            <tr>
                <td style="font-weight: bold;"><a href="{% url 'listings' listing.id %}">{{ listing.title }}</a></td>
                <td> Price: ${{ listing.price }}</td>
                <td> {{ listing.description }} </td>
                <td><img class="img-responsive" src="{{ listing.photo }}" alt="{{ listing.title }}" width="300" height="300"></td>
            </tr>
        {% empty %}
            <p>No active listings.</p>
        {% endfor %}        
    </table>

{% endblock %}






