{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}    
        <ul>
            <li><a href="{% url 'listings' listing.id %}">Listing {{ listing.id }}</a></li>
            <li> title: {{ listing.title }}</li>
            <li> price: {{ listing.price }}</li>
            <li> description: {{ listing.description }} </li>
            <li> picture: <img src="{{ listing.photo }}" alt="{{ listing.title }}"> </li>
        </ul>
    {% endfor %}
{% endblock %}