{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    
    <h1>All Posts</h1>
    

    <div class="posts-view">
      {% for post in page_obj %}

        <hr>
        {% if post.user == request.user %}
          <input type="submit" value="Edit" class="btn btn-primary" id="edit">
        {% endif %}
        {{ post.user }}<br>
        {{ post.content }}<br>
        {{ post.datetime }}<br>
        {{ post.likes }}
        <hr>

      {% endfor %}        
    </div>

    <div class="pagination">

      <nav aria-label="Page navigation">

        <ul class="pagination">

          <span class="step-links">

            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
            
          </span>          

        </ul>

      </nav>

    </div>
    
    <!-- <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav> -->


{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}