{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    
    <h1>{{ profile.username }}</h1>

    <div class="user-info">
        <b>Followers: {{ followers }}</b>
        <b>Following: {{ follows }}</b>
        
        {% if valid %}
            {{ prof1.username }}
            <form action="/profile/{{ profile.id }}" method="post">
                {% csrf_token %}
                {% if followstatus %}
                    <button type="submit" name="unfollow">Unfollow</button>
                {% elif not followstatus %}
                    <button type="submit" name="follow">Follow</button>
                {% endif %}
            </form>
                
        {% endif %}
        

    </div>

    <div class="posts-view">
    </div>
    

{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}